<template>
  <div class="text-center">
    <v-dialog
      v-model="active"
      width="500"
    >
      <v-card elevation="10" raised>
        <v-card-title
          class="headline"
          primary-title
        >
          <span class="error--text">Something went wrong...</span>
        </v-card-title>

        <v-card-text class="mt-5">
          <h3 class="text">
            <span v-html="errorMessage"></span>
          </h3>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn
            color="red"
            text
            @click="hide"
          >
            Close
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import * as Actions from '../store/types/actions';

export default {
  computed: {
    ...mapGetters({
      errorShow: 'errorShow',
      errorMessage: 'errorMessage',
    }),
    active() {
      return this.errorShow;
    },
  },
  methods: {
    ...mapActions({
      hideErrorDialog: Actions.HIDE_ERROR_DIALOG,
    }),
    hide() {
      this.hideErrorDialog();
    },
  },
};
</script>

<style scoped>

</style>
