<template>
  <v-container>
    <v-layout
      text-center
      wrap
    >
      <v-flex md12 xs12>
        <v-row justify="center" align="center">
          <v-col cols="12" md="4">
            <a href="https://www.tradisys.com/" target="_blank">
              <v-img
                :src="require('../assets/logo.svg')"
                contain
                height="150"
              ></v-img>
            </a>
          </v-col>
        </v-row>
        <v-row justify="center" align="center">
          <v-col cols="12" md="4">
            <h3 class="font-weight-bold mb-3">
              Welcome to Tradisys Voting Application
            </h3>
            <p class="subheading font-weight-regular">
              Here you can vote FOR/AGAINST emission activation, more details can be found
              <a href="https://forum.wavesplatform.com/t/tradisys-node/1125/66?u=tradisys.com"
                 target="_blank">here.</a>
            </p>
          </v-col>
        </v-row>
        <v-row justify="center" align="center">
          <v-col cols="12" md="4" v-if="votingDone">
            <h2>
              Thanks for your votes!
            </h2>
          </v-col>
          <v-col cols="12" md="4" v-else>
            <template v-if="votingAllowed">
              <h4>
                Blocks till the end: {{votingHeightFinish - height}},
                ~{{votingHeightFinish - height}} min. approximately
              </h4>
              <v-progress-linear
                background-color="blue lighten-4"
                v-model="votingBlocksElapsed"
                height="25"
                reactive
              >
                <strong>{{ votingBlocksElapsed }}%</strong>
              </v-progress-linear>
            </template>
            <template v-else>
              <h4>
                Blocks till the voting starts: {{votingHeightStart - height}},
                ~{{votingHeightStart - height}} min. approximately
              </h4>
            </template>
          </v-col>
        </v-row>
        <v-row justify="center" align="center">
          <v-col cols="12" md="4">
            <h4>
              {{votingAssetBalance}} from {{votingAssetTotalEmission}} tokens used
            </h4>
            <v-progress-linear
              background-color="blue lighten-4"
              v-model="votingAssetFilled"
              height="25"
              reactive
            >
              <strong>{{ votingAssetFilled }}%</strong>
            </v-progress-linear>
          </v-col>
        </v-row>
        <v-row justify="center" align="center">
          <v-col cols="12" md="4">
            <h4>
              Voting for/against
            </h4>
            <v-progress-linear
              :background-color="votingForAgainst > 0 ? 'error' : 'blue lighten-4'"
              color="success"
              v-model="votingForAgainst"
              height="25"
              reactive
            >
              <strong>{{ votingForAgainst }}%</strong>
              <strong class="px-1">/</strong>
              <strong>{{ 100 - votingForAgainst }}%</strong>
            </v-progress-linear>
          </v-col>
        </v-row>
        <v-row justify="center" align="center">
          <v-col cols="12" md="4" v-if="!votingDone">
            <v-row justify="space-around" align="center">
              <v-col cols="12" md="4">
                <div class="flex-fill">
                  <v-btn
                    block depressed large color="success" @click="handleVoteFor"
                    :disabled="!votingAllowed"
                  >
                    Vote For
                  </v-btn>
                </div>
              </v-col>
              <v-col cols="12" md="4">
                <div class="flex-fill">
                  <v-btn
                    block depressed large color="error" @click="handleVoteAgainst"
                    :disabled="!votingAllowed"
                  >
                    Vote Against
                  </v-btn>
                </div>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
        <v-row justify="space-around" align="center" v-if="isMobile">
          <v-col cols="12" md="4">
            <v-alert
              outlined
              type="warning"
              prominent
              border="left"
            >
              Sorry, voting available from Desktop browsers only, as Waves Keeper doesn’t support
              mobile devices yet.
            </v-alert>
          </v-col>
        </v-row>
        <v-row justify="center" align="center" class="mt-3">
          <a href="https://gitlab.com/tradisys/tradisys-voting-app" target="_blank">
            <v-img
              :src="require('../assets/gitlab.svg')"
              class="icon"
              contain
              height="24"
            ></v-img>
            <small>Tradisys dApp Sources</small>
          </a>
        </v-row>
      </v-flex>
    </v-layout>
    <error-dialog></error-dialog>
  </v-container>
</template>

<script>
import device from 'current-device';
import { mapGetters, mapActions } from 'vuex';
import * as Actions from '../store/types/actions';
import * as VoteTypes from '../types/votes';
import ErrorDialog from './ErrorDialog.vue';
import config from '../config';

export default {
  components: {
    ErrorDialog,
  },
  data: () => ({}),
  computed: {
    ...mapGetters({
      height: 'height',
      votingAssetFor: 'votingAssetFor',
      votingAssetAgainst: 'votingAssetAgainst',
      votingHeightStart: 'votingHeightStart',
      votingDuration: 'votingDuration',
      votingAssetBalance: 'votingAssetBalance',
    }),
    votingAssetHasVotes() {
      return this.votingAssetFor || this.votingAssetAgainst;
    },
    votingAssetTotalEmission() {
      return config.voting.assetEmissionAmount;
    },
    votingHeightFinish() {
      return this.votingHeightStart + this.votingDuration;
    },
    votingAssetFilled() {
      return Math.round(
        this.votingAssetBalance / config.voting.assetEmissionAmount * 100,
      );
    },
    votingBlocksElapsed() {
      return Math.round(
        (this.height - this.votingHeightStart) / this.votingDuration * 100,
      );
    },
    votingForAgainst() {
      if (this.votingAssetHasVotes) {
        return Math.round(
          this.votingAssetFor / (this.votingAssetAgainst + this.votingAssetFor) * 100,
        );
      }

      return 0;
    },
    votingAllowed() {
      return this.votingHeightStart <= this.height && this.votingHeightFinish > this.height;
    },
    votingDone() {
      return this.height >= this.votingHeightFinish
        || this.votingAssetBalance === config.voting.assetEmissionAmount;
    },
    isMobile() {
      return device.mobile();
    },
  },
  methods: {
    ...mapActions({
      vote: Actions.VOTE,
    }),
    handleVoteFor() {
      this.vote(VoteTypes.FOR);
    },
    handleVoteAgainst() {
      this.vote(VoteTypes.AGAINST);
    },
  },
};
</script>

<style scoped lang="scss">
  .icon {
    opacity: 0.8;
  }

  .v-progress-linear {
    pointer-events: none;
  }
</style>
