<template>
  <v-app>
    <v-content>
      <vote></vote>
    </v-content>
  </v-app>
</template>

<script>
import { mapActions } from 'vuex';
import * as Actions from './store/types/actions';
import Vote from './components/Vote.vue';

export default {
  components: {
    Vote,
  },
  data: () => ({
    //
  }),
  mounted() {
    this.initialize();
  },
  methods: {
    ...mapActions({
      initialize: Actions.LIFECYCLE,
    }),
  },
};
</script>
